.article p {
    font-style: italic
}

.article {
    text-align: center;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.messageUser, .messageDeleteButton {
    display: inline;
}

.article-container {
    text-align: center;
}